<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }} — BDI Developer Portal</title>

    <link rel="stylesheet" href="assets/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" type="text/css" media="all">
    <link href="assets/bdi-logo.png" rel="shortcut icon">

    <meta name="description" content="Basic Data Infrastructure (BDI) Developer Portal">
    <meta name="keywords" content="BDI, Dataspaces, Trust Anchor, Data exchange">
  </head>

  <body>
    <header>
      <a href=".">
        <img src="assets/bdi-logo-with-text.png" alt="BDI — Basic Data Infrastructure">
      </a>

      <h1>BDI Developer Portal</h1>
    </header>
    <main>
      <nav>
        {% assign mypages = site.pages | sort: "category" | group_by: 'category' %}
        <ul>
          {% for cat in mypages %}
            {% if cat.name != "" %}
              {% assign items = cat.items | sort: 'order' %}
              <div class="category">
                {% for item in items %}
                  <li>
                    <a class="{{ item.class }}" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                  </li>
                {% endfor %}
              </div class="category">
            {% endif %}
          {% endfor %}
        </ul>
      </nav>

      <article class="{{ page.class }}">
        <h1>{{ page.title }}</h1>
        {{ content }}
      </article>
    </main>
  </body>
</html>
